nav {
  ul{
    padding: 0;
    margin: 0;
    li {
      display: inline-block;
      list-style-type: none;
      &:last-of-type {
        span {
          display: none;
        }
      }
    }
  }
}
